<div class="container">
  <div class="main-visual">
    <div class="container">
      <h1 class="top-title">Photo Backup</h1>
      <p class="top-text">
        Photo Backupは、
        <br>
        あなたの大切な写真を安全に保管できるサービスです。
      </p>
      <div class="button">
        <a class="btn-secondary btn-lg btn-block" href="users/sign_in" role="button">ログイン</a>
        <a class="btn-secondary btn-lg btn-block" href="users/sign_up" role="button">新規登録</a>
      </div>
    </div>
  </div>
</div>
