<div class="header">
  <div class="container">
    <div class="header-left">
      <img class="header-logo" src="/assets/logo.png" alt="Photo Backup" >
    </div>
    <div class="header-right">
      <button type="button" class="btn btn-dark">ログアウト</button>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="main-visual">
  <div class="container">
    <h1 class="top-title">Photo Backup</h1>
    <p class="top-text">
      Photo Backupは、
      <br>
      あなたの大切な写真を安全に保管できるサービスです。
    </p>
  <div class="button">
    <button type="button" class="btn btn-secondary w-50 mt-2">ログイン</button>
    <br>
    <button type="button" class="btn btn-secondary w-50 mt-2">新規登録</button>
  </div>
  </div>
</div>
