<div class="container">
  <div class="main-visual">
    <div class="container">
      <h1 class="top-title">Photo Backup</h1>
      <p class="top-text">
        Photo Backupは、
        <br>
        あなたの大切な写真を安全に保管できるサービスです。
      </p>
      <div class="button">
        <%= link_to 'ログイン', 'users/sign_in', class: 'btn btn-secondary btn-lg btn-block', method: :get %>
        <br>
      <div class="button">
        <%= link_to '新規登録', 'users/sign_up', class: 'btn btn-secondary btn-lg btn-block', method: :get %>
      </div>
    </div>
  </div>
</div>
