<div class="container">
  <div class="main-visual">
    <div class="container">
      <h1 class="top-title">Photo Backup</h1>
      <p class="top-text">
        Photo Backupは、
        <br>
        あなたの大切な写真を安全に保管できるサービスです。
      </p>
      <div class="button">
        <button type="button" class="btn btn-secondary btn-lg btn-block">ログイン</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">新規登録</button>
      </div>
    </div>
  </div>
</div>
